@nilmod {
	name: "UpsilonFixes";
	description: "1.4 for 2022";
	authors: "unascribed";
	version: "${version}";
}

entrypoints {
	premain: "com.rewindmc.upsilonfixes.UpsilonFixesPremain";
	forge-init: "com.rewindmc.upsilonfixes.UpsilonFixesForgeInit";
	liteloader-preinit: "com.rewindmc.upsilonfixes.UpsilonFixesLiteLoaderPreInit";
}