@nilmod {
	name: "UpsilonFixes";
	description: "1.4 for 2022. A veritable smorgasbord of convenience features, backports, and bugfixes for vanilla and mods alike.";
	authors: "unascribed";
	version: "${version}";
}

entrypoints {
	premain: "com.rewindmc.upsilonfixes.UpsilonFixesPremain";
	forge-earlyinit: "com.rewindmc.upsilonfixes.UpsilonFixesForgeEarlyInit";
	forge-postinit: "com.rewindmc.upsilonfixes.UpsilonFixesForgePostInit";
	liteloader-preinit: "com.rewindmc.upsilonfixes.UpsilonFixesLiteLoaderPreInit";
}